<a href="https://colab.research.google.com/github/SBhat2615/AmazonMLChallenge/blob/main/AMLC_submission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!ls

sample_data

In [4]:
!wget https://s3-ap-southeast-1.amazonaws.com/he-public-data/datasetb2d9982.zip
!unzip datasetb2d9982.zip -d dataset

--2023-04-22 08:39:04--  https://s3-ap-southeast-1.amazonaws.com/he-public-data/datasetb2d9982.zip
Resolving s3-ap-southeast-1.amazonaws.com (s3-ap-southeast-1.amazonaws.com)... 52.219.124.134
Connecting to s3-ap-southeast-1.amazonaws.com (s3-ap-southeast-1.amazonaws.com)|52.219.124.134|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 895569552 (854M) [binary/octet-stream]
Saving to: ‘datasetb2d9982.zip’

datasetb2d9982.zip  100%[===================>] 854.08M  13.5MB/s    in 65s

2023-04-22 08:40:10 (13.1 MB/s) - ‘datasetb2d9982.zip’ saved [895569552/895569552]

Archive:  datasetb2d9982.zip
   creating: dataset/dataset/
  inflating: dataset/dataset/sample_submission.csv
  inflating: dataset/dataset/train.csv
  inflating: dataset/dataset/test.csv

In [5]:
import pandas as pd
test_data = pd.read_csv('dataset/dataset/test.csv')

# Submission number

In [36]:
submission_number = 9
file_name = r"submission" + str(submission_number) + r".csv"
print(file_name)

submission9.csv

In [37]:
import csv

# Open the CSV file in append mode
with open(file_name, mode='a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['PRODUCT_ID', 'PRODUCT_LENGTH'])

    for i in test_data['PRODUCT_ID']:
        writer.writerow([i, 653])

In [31]:
!ls

dataset		    sample_data      submission5.csv  submission7.csv
datasetb2d9982.zip  submission4.csv  submission6.csv

In [32]:
submission_df = pd.read_csv(file_name)

In [33]:
submission_df.head()

   PRODUCT_ID  PRODUCT_LENGTH
0      604373             662
1     1729783             662
2     1871949             662
3     1107571             662
4      624253             662

In [11]:
!rm submission4.csv

In [12]:
!ls

dataset  datasetb2d9982.zip  sample_data